<html>
    <head>
        <title>r4sukaru blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">araiguma Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Hello!Thank you </p>
        </div>

        <div>
            <p>published: 2014/06/14, 12:14</p>
            <h2><a href="">Second post</a></h2>
            <p> Hello!Thank you </p>
        </div>
    </body>
</html>